<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rhapsopy</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/footer.css') }}"
    />
  </head>

  <body>
    <nav class="navbar">
      <a href="{{ url_for('home') }}">
        <div class="navbar-brand">
          <img
            src="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
            class="logo"
          />
          <span class="brand-name">Rhapsopy</span>
        </div>
      </a>
      <ul class="navbar-menu">
        <li>
          <a href="{{ url_for('dashboard') }}" target="_blank"
            >Tableau de Bord</a
          >
        </li>
        <li>
          <a href="{{ url_for('learning') }}" target="_blank">Apprentissage</a>
        </li>
        <li><a href="{{ url_for('tools') }}" target="_blank">Outils</a></li>
        <li>
          <a href="{{ url_for('planning') }}" target="_blank">Planning</a>
        </li>
        <li><a href="{{ url_for('support') }}" target="_blank">Support</a></li>
      </ul>
      <div class="navbar-profile">
        <ul>
          <a href="{{ url_for('register') }}"
            ><li class="not-btn">Inscription</li></a
          >
          {% if not session['logged_in'] %}
          <a href="{{ url_for('login') }}"><li class="btn">Connexion</li></a>
          {% else %}
          <a href="{{ url_for('logout') }}"><li class="btn">Déconnexion</li></a>
          {% endif %}
        </ul>
        <a href="{{ url_for('profile') }}" target="_blank">
          <img
            src="{{ user_pfp }}"
            alt="Profil Utilisateur"
            class="profile-pic"
        /></a>
      </div>
    </nav>

    <main>
      <h1 class="in-build">In Building...</h1>
      <h3 class="in-build">In Building...</h3>
      <p class="in-build">In Building...</p>
      <h3 class="in-build">In Building...</h3>
      <h1 class="in-build">In Building...</h1>
      <h3 class="in-build">In Building...</h3>
      <p class="in-build">In Building...</p>
      <h3 class="in-build">In Building...</h3>
      <h1 class="in-build">In Building...</h1>
      <h3 class="in-build">In Building...</h3>
      <p class="in-build">In Building...</p>
      <h3 class="in-build">In Building...</h3>
      <h1 class="in-build">In Building...</h1>
      <h3 class="in-build">In Building...</h3>
      <p class="in-build">In Building...</p>
      <h3 class="in-build">In Building...</h3>
      <h1 class="in-build">In Building...</h1>
    </main>

    <footer class="footer">
      <div class="footer-content">
        <ul>
          <li>
            <p>Prototype en cours de développement...</p>
          </li>
          <li>
            <ul class="footer-links">
              <li>
                <img
                  class="logo-footer"
                  src="{{ url_for('static', filename='assets/images/logos/logoBlack.svg') }}"
                />

                <span>© 2024 Rhapsopy.</span>
              </li>
              <li><a href="{{ url_for('support') }}">Support</a></li>
              <li>
                <a href="https://github.com/lucasbouet30/NSI_project">GitHub</a>
              </li>
              <li>
                <a
                  href="{{ url_for('static', filename='assets/images/blueprints.pdf') }}"
                  target="_blank"
                  >Croquis</a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('static', filename='assets/images/logo.svg') }}"
                  >Logo</a
                >
              </li>
              <li><a href="#">Easter Egg</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
