<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rhapsopy</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/footer.css') }}"
    />
  </head>

  <body>
    <nav class="navbar">
      <a href="{{ url_for('home') }}">
        <div class="navbar-brand">
          <img
            src="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
            class="logo"
          />
          <span class="brand-name">Rhapsopy</span>
        </div>
      </a>
      <ul class="navbar-menu">
        <li>
          <a href="{{ url_for('dashboard') }}" target="_blank"
            >Tableau de Bord</a
          >
        </li>
        <li>
          <a href="{{ url_for('learning') }}" target="_blank">Apprentissage</a>
        </li>
        <li><a href="{{ url_for('tools') }}" target="_blank">Outils</a></li>
        <li>
          <a href="{{ url_for('planning') }}" target="_blank">Planning</a>
        </li>
        <li><a href="{{ url_for('support') }}" target="_blank">Support</a></li>
      </ul>
      <div class="navbar-profile">
        <ul>
          <a href="{{ url_for('register') }}"
            ><li class="not-btn">Inscription</li></a
          >
          {% if not session['logged_in'] %}
          <a href="{{ url_for('login') }}"><li class="btn">Connexion</li></a>
          {% else %}
          <a href="{{ url_for('logout') }}"><li class="btn">Déconnexion</li></a>
          {% endif %}
        </ul>
        <a href="{{ url_for('profile') }}" target="_blank">
          <img
            src="{{ user_pfp }}"
            alt="Profil Utilisateur"
            class="profile-pic"
        /></a>
      </div>
    </nav>

    <main>
      <div class="grid-container">
        <div class="hero">
          <h2>Rhapsopy : Une Révolution dans l'Apprentissage Musical</h2>
          <span>
            Rhapsopy est né de la fusion entre passion et organisation. Pensé
            par des musiciens, pour les musiciens, notre projet vise à offrir
            une plateforme intuitive qui transforme la pratique musicale en une
            expérience engageante et motivante. Grâce à un suivi personnalisé et
            des outils interactifs, Rhapsopy accompagne chaque utilisateur vers
            une progression structurée et mesurable.
          </span>
        </div>
        <img
          src="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
          alt="Empty"
        />
      </div>

      <div class="grid-container">
        <img
          src="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
          alt="Empty"
        />
        <div class="hero">
          <h2>Un Suivi Structuré pour une Progression Concrète</h2>
          <span>
            L’un des défis majeurs des musiciens est de rester motivé et
            d’évaluer leurs progrès. Avec Rhapsopy, planifiez vos sessions,
            définissez des objectifs clairs et suivez votre évolution grâce à
            une interface visuelle et immersive. La gamification et
            l’organisation sont au cœur de notre approche pour faire de la
            musique un apprentissage stimulant.
          </span>
        </div>
      </div>

      <div class="grid-container">
        <div class="hero">
          <h2>Des Outils Pensés pour les Musiciens</h2>
          <span>
            Rhapsopy ne se limite pas à un simple suivi : nous intégrons des
            outils indispensables directement dans l’application. Accordeur,
            métronome, bibliothèque de partitions et de gammes interactives…
            Tout est centralisé pour offrir une expérience fluide et efficace,
            adaptée à tous les niveaux.
          </span>
        </div>
        <img
          src="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
          alt="Empty"
        />
      </div>

      <div class="grid-container">
        <img
          src="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
          alt="Empty"
        />
        <div class="hero">
          <h2>Un Espace Communautaire et Évolutif</h2>
          <span>
            Avec notre système de niveaux et de classement, chaque utilisateur
            peut voir ses progrès et se mesurer aux autres musiciens de la
            communauté. Rhapsody récompense l’engagement et encourage à
            persévérer grâce à un système de badges et de titres évolutifs.
            Rejoignez-nous et transformez votre apprentissage musical en une
            aventure immersive et motivante !
          </span>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer-content">
        <ul>
          <li>
            <p>Prototype en cours de développement...</p>
          </li>
          <li>
            <ul class="footer-links">
              <li>
                <img
                  class="logo-footer"
                  src="{{ url_for('static', filename='assets/images/logos/logoBlack.svg') }}"
                />

                <span>© 2024 Rhapsopy.</span>
              </li>
              <li><a href="{{ url_for('support') }}">Support</a></li>
              <li>
                <a href="https://github.com/lucasbouet30/NSI_project">GitHub</a>
              </li>
              <li>
                <a
                  href="{{ url_for('static', filename='assets/images/blueprints.pdf') }}"
                  target="_blank"
                  >Croquis</a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('static', filename='assets/images/logo.svg') }}"
                  >Logo</a
                >
              </li>
              <li><a href="#">Easter Egg</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
