<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rhapsopy</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/footer.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/profile.css') }}"
    />
  </head>

  <body>
    <nav class="navbar">
      <a href="{{ url_for('home') }}">
        <div class="navbar-brand">
          <img
            src="{{ url_for('static', filename='assets/images/logos/logoCoral.svg') }}"
            class="logo"
          />
          <span class="brand-name">Rhapsopy</span>
        </div>
      </a>
      <ul class="navbar-menu">
        <li>
          <a href="{{ url_for('dashboard') }}" target="_blank"
            >Tableau de Bord</a
          >
        </li>
        <li>
          <a href="{{ url_for('learning') }}" target="_blank">Apprentissage</a>
        </li>
        <li><a href="{{ url_for('tools') }}" target="_blank">Outils</a></li>
        <li>
          <a href="{{ url_for('planning') }}" target="_blank">Planning</a>
        </li>
        <li><a href="{{ url_for('support') }}" target="_blank">Support</a></li>
      </ul>
      <div class="navbar-profile">
        <ul>
          <a href="{{ url_for('register') }}"
            ><li class="not-btn">Inscription</li></a
          >
          {% if not session['logged_in'] %}
          <a href="{{ url_for('login') }}"><li class="btn">Connexion</li></a>
          {% else %}
          <a href="{{ url_for('logout') }}"><li class="btn">Déconnexion</li></a>
          {% endif %}
        </ul>
        <a href="{{ url_for('profile') }}" target="_blank">
          <img
            src="{{ user_pfp }}"
            alt="Profil Utilisateur"
            class="profile-pic"
        /></a>
      </div>
    </nav>

    <main>
      <div class="stack">
	    <form action="/upload" method="POST" enctype="multipart/form-data" id="uploadFormPfp">
		  <input type="text" name="typevar" style="display: none;" value="pfp" />
		  <input type="file" name="file" id="pfp-upload" style="display: none;"/>
          <input type="submit" style="display: none;"/>
		</form>
		
		<form action="/upload" method="POST" enctype="multipart/form-data" id="uploadFormBanner">
		  <input type="text" name="typevar" style="display: none;" value="banner" />
          <input type="file" name="file" id="banner-upload" style="display: none;"/>
          <input type="submit" style="display: none;"/>
		<form>
		<script>
			document.getElementById('pfp-upload').addEventListener('change', function() {
				document.getElementById('uploadFormPfp').submit();
			});
			document.getElementById('banner-upload').addEventListener('change', function() {
				document.getElementById('uploadFormBanner').submit();
			});
		</script>
        <div class="banner-container">
          <div class="banner">
            <img src="{{ user_banner }}" alt="Bannière Utilisateur" />
          </div>
          <div
            class="change-banner"
            onclick="document.getElementById('banner-upload').click()"
          >
            <div class="upload">
              <img
                src="{{ url_for('static', filename='assets/images/upload.png') }}"
              />
            </div>
          </div>
        </div>

        <div class="pfp-grid">
          <div class="pfp-container">
            <img src="{{ user_pfp }}" alt="Profil Utilisateur" class="pfp" />
            <div
              class="change-pfp"
              onclick="document.getElementById('pfp-upload').click()"
            >
              <div class="upload">
                <img
                  src="{{ url_for('static', filename='assets/images/upload.png') }}"
                />
              </div>
            </div>
          </div>
          <div class="user-title"><i>Titre : </i>{{ user_title }}</div>
        </div>

        <div class="profile-grid">
          <div class="fisrt-section">
            <div class="pseudo">{{ username }}</div>
          </div>
        </div>
      </div>

      <div class="second-section">
        <div class="badge-container">
          <img
            src="{{ user_badge }}"
            alt="Profil Utilisateur"
            class="lvl-badge"
          />
          <span class="level-text">{{ lvl }}</span>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-content">
        <ul>
          <li>
            <p>Prototype en cours de développement...</p>
          </li>
          <li>
            <ul class="footer-links">
              <li>
                <img
                  class="logo-footer"
                  src="{{ url_for('static', filename='assets/images/logos/logoBlack.svg') }}"
                />

                <span>© 2024 Rhapsopy.</span>
              </li>
              <li><a href="{{ url_for('support') }}">Support</a></li>
              <li>
                <a href="https://github.com/lucasbouet30/NSI_project">GitHub</a>
              </li>
              <li>
                <a
                  href="{{ url_for('static', filename='assets/images/blueprints.pdf') }}"
                  target="_blank"
                  >Croquis</a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('static', filename='assets/images/logo.svg') }}"
                  >Logo</a
                >
              </li>
              <li><a href="#">Easter Egg</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>