<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rhapsopy</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/empty.jpg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/navbar.css') }}"
    />
  </head>

  <body>
    <main>
      <form method="post">
        Email: <input name="email" /><br />
        Password: <input name="password" type="password" /><br />
        <button>Log In</button>
      </form>
    </main>

    <footer>
      <p>&copy; 2024 Rhapsopy. Tous droits réservés.</p>
    </footer>
  </body>
</html>
