<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403 Forbidden</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/empty.jpg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/footer.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='assets/css/errors.css') }}"
  />
  </head>

  <body>
    <div class="message">Accès interdit.
    </div>
    <div class="message2">Veuillez vous connecter pour accéder a cette page.</div>
    <div class="container">
      <div class="neon">403</div>
      <div class="door-frame">
        <div class="door">
          <div class="rectangle">
        </div>
          <div class="handle">
            </div>
          <div class="window">
            <div class="eye">
            </div>
            <div class="eye eye2">
            </div>
            <div class="leaf">
            </div> 
          </div>
        </div>  
      </div>
    </div>

     </body>
</html>
